{
  "presets": [
    ["@babel/env", { "targets": {"node": "current" } }, "@babel/typescript"]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties"
  ]
}