.container {
    padding: 50px 12px 12px 24px
}
.view-table {
    margin-top: 24px;
}
.view-actions {
    display: flex;
    flex-direction: column;
}
.view-btn {
    background-color: tomato;
    color: white;
}